/*
 * Project: Jobs page
 * Author: Awer Awier
 * Created 19/04/26
 */


 /*
Creates a box for both job descriptions with the ID selector .boxx
 */

.boxx {
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    margin: 30px auto;
    max-width: 750px;
    background-color: #ffffff;
}

 /*
Styles the aside box for the qualifications inside the job descriptionbox
 */

.aside {
    float: right;
    text-align: center;
    width: 25%;
    margin: 10px;
    padding: 15px;
    border: 2px solid #00f7ff;
    background-color: #ffffff;
}


 /*
customises the apply now buttons
 */

.apply-btn,
.Button-to-apply-for-Digital-Health-Wellness-role {
    display: inline-block;
    padding: 8px 12px;
    background-color: #00c9c8;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-btn:hover,
.Button-to-apply-for-Digital-Health-Wellness-role:hover {
    background-color: #333;
    color: white;
}



 /*
customises max width style for the text in the job description and adds padding to it to make it more readable.
 */

.maxwidthtext {
    max-width: 750px;  /*  doesnâ€™t get any wider than 750px */
    margin: 0 auto;
    padding: 10px;    /* Creates space in the text */
    font-size: 15px;
}

.Heading {
    text-align: center;
    color: white; 
}


/* Footer */
footer {
    margin-top: 40px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* ID selector */
#footer {
    margin: 0 15px;
    color: white;
}